body {
    margin: 0;
    font-family: "Open Sans";
}

@font-face {
    font-family: "Open Sans";
    src: url("Fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("Fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("Fonts/OpenSans-Light.woff");
    font-weight: 100;
    font-style: normal;
}

.intro {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("img/football_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #ffffff;
}

.intro::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    width: 133px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    display: block;
    fill: #ffffff;
    z-index: 1;
    position: relative;
}

h1 {
    font-size: 28px;
    line-height: 31px;
    z-index: 1;
    position: relative;
    margin-top: 132px;
    text-transform: uppercase;
    font-weight: 700;
}

.header_1dt_line {
    display: block;
}

.header_2nd_line {
    display: block;
    margin-left: 45px;
    margin-top: 19px;
}

.shop_link_wrapper {
    margin-top: 89px;
    padding-bottom: 83px;
}

.shop_link {
    background-color: #5e42b0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    font-size: 8px;
    line-height: 9px;
    min-height: 35px;
}

.shop_link:nth-child(n+2) {
    margin-top: 14px;
}

.shop_link_logo {
    width: 22px;
    fill: #ffffff;
}

.link_1st_line {
    display: block;
    min-width: 90px;
    margin-left: 10px;
}

.link_2nd_line {
    display: block;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 0;
    padding-top: 25px;
}

.athlets_connection_wrapper h2 {
    padding-top: 19px;            
}

.players_connection_wrapper h2 {
    padding-top: 17px;            
}

.athlets_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.athlets_img_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.athlets_connection_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.athlet_img {
    margin-top: 80px;
    height: 281px;
}

.athlets_connection_wrapper .header_number {
    margin-top: 317px;             
    padding-top: 0;                
}

.players_connection_wrapper .header_number {
    margin-top: 315px;               
    padding-top: 0;
}

.header_number {
    align-items: center;
    display: flex;
    padding-top: 59px;
}

.athlets_growth_wrapper .header_number {
    padding-top: 70px;
}

.header_number h3 {
    margin: 0;
    color: #c1c1c1;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.number {
    font-weight: 700;
    font-size: 14px;
}

.number::after {
    content:"";
    display: block;
    width: 15px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5e42b0;
    border-radius: 100px;
}

.text {
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    padding-bottom: 51px;
    margin: 0;
    margin-top: 21px;
    font-weight: 400;
}

.athlets_collaboration_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f9;
}

.athlets_growth_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5e42b0;
}

.athlets_growth_wrapper .number::after, .players_growth_wrapper .number::after {
    background-color: #ffffff;
}

.athlets_growth_wrapper .text {
    color: #efeef6;
}

.players_img_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.player_img {
    margin-top: 80px;
}

.players_connection_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.players_collaboration_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f9;
}

.players_growth_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #090c35;
}

.players_growth_wrapper .text {
    color: #ffffff;
}

.players_growth_wrapper .number {
    color: #7c5dce;
}

.main_img {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.img_wrapper {
    position: relative;
}

.main_number_block {
    display: flex;
    background-color: #5e42b0;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    transform: translateY(-90%)
}

main .number {
    color: #f5f6f7;
}

main .number::after {
    background-color: #8f7bc8;
}

main h2 {
    font-size: 28px;
    line-height: 34px;
    padding-top: 23px;
}

main .text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 78px;
}

.main_text {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-image: url("img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer_logo_header {
    z-index: 1;
    text-align: center;
}


.logo_background {
    display: flex;
    width: 72px;
    height: 74px;
    z-index: 1;
    position: relative;
    background: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 99px;
    border-radius: 15px;
}

.logo_footer {
    width: 57px;
    height: 49px;
    margin: auto;
    fill: #f5f6f7;
}

footer h2 {
    margin: 0;
    margin-top: 57px;      
    z-index: 1;
    display: block;
    font-size: 32px;
    line-height: 32px;
    padding-top: 0;       
}

.footer_span {
    z-index: 1;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #9b8ec1;
    margin-top: 3px;
}

footer .shop_link_wrapper {
    width: 100%;
    margin-top: 74px;
    padding-bottom: 0;
}

footer .logo {
    margin-bottom: 10px;
    margin-top: 49px;
}

/*****************/
/****Планшеты*****/
/*****************/

@media (min-width:641px) and (max-width: 960px) {
    
    .intro {
    background-image: url("img/football_1280.jpg");
}
    
    .logo {
        padding-top: 39px;
        width: 204px;
        height: 56px;
    }

    h1 {
        font-size: 64px;
        line-height: 64px;
        margin-top: 170px;
    }

    .header_1dt_line {
        padding-left: 70px;
    }

    .header_2nd_line {
        margin-top: 19px;
        margin-left: 107px;
    }

    .shop_link_wrapper {
        margin-top: 313px;
        padding-bottom: 90px;
        display: flex;
        justify-content: center; /******PixelPerfect****/
    }
    
    .shop_link:nth-child(n+2) {
        margin-top: 0;
        margin-left: 25px;      /******PixelPerfect****/
    }
    
    .shop_link {
        border-radius: 35px;
        align-items: center;
        z-index: 1;
        position: relative;
        font-size: 14px;
        line-height: 15px;
        min-height: 77px;
        width: 43%;
        justify-content: flex-start;
    }

    .shop_link_logo {
        width: 41px;
        height: 43px;
        margin-left: 30px;
    }
    
    .athlets_img_wrapper {
        justify-content: flex-start;
    }
    
    .athlet_img {
        margin-top: 96px;
        display: block;
        height: 698px;
        margin-left: -163px;
    }
    
    h2 {
        font-size: 80px;
        line-height: 80px;
    }
    
    .header_number h3 {
        font-size: 32px;
        line-height: 32px;
    }
    
    .athlets_wrapper h2, .players_wrapper h2 {
        margin-top: 73px;
        padding-top: 0;
    }
    
    .athlets_connection_wrapper, .athlets_collaboration_wrapper, .athlets_growth_wrapper  {
        width: 100%;
        padding-left: 293px;
    }
    
    .athlets_connection_wrapper .header_number, .players_connection_wrapper .header_number {
        margin-top: 47px;
    }   

    .text {
        font-size: 16px;
        line-height: 28px;
        text-align: left;
        padding: 0;
        padding-bottom: 32px; /****PixelPerfect***/
        margin: 0;
        margin-top: 23px;     /****PixelPerfect***/
    }   
    
    .athlets_collaboration_wrapper .header_number, .athlets_growth_wrapper .header_number {
        padding-top: 41px;
    }
    
    .players_wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .players_img_wrapper {
        justify-content: flex-end;
    }

    .player_img {
        margin-top: 40px;
    }
    
    .players_growth_wrapper {
        width: 100%;
    }
    
    .players_connection_wrapper, .players_collaboration_wrapper, .players_growth_wrapper  {
        padding-right: 355px;
        padding-left: 30px;
    }
    
    .players_wrapper .text {
        padding-bottom: 33px;
        margin-top: 22px;
    }
    
    .players_collaboration_wrapper .header_number, .players_growth_wrapper .header_number {
        padding-top: 41px;
    }
    
    .main_number_block {
        display: flex;
        background-color: #5e42b0;
        width: 117px;
        height: 117px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 32px;
        transform: translateY(-73%);
    }

    main .number {
        font-size: 24px;
        line-height: 24px;
    }
    
    .header_number {
        
    }
    
    .number {
        font-size: 18px;
        line-height: 18px;
    }
    
     .number::after {
        width: 19px;
        height: 5px;
         margin-top: 3px;
    }
    
    .main_text {
        margin-top: 73px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .be_active h2, .find_contact h2, .work_it h2 {
        padding-top: 0;
    }
    
    main h2 {
        font-size: 80px;
        line-height: 80px;
    }
    
    main .text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 24px;
        padding-bottom: 100px;
    }
    
    .logo_background {
        display: flex;
        width: 130px;
        height: 136px;
        z-index: 1;
        position: relative;
        background: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
        margin-left: auto;
        margin-right: auto;
        margin-top: 126px;
        border-radius: 30px;
    }

    .logo_footer {
        width: 104px;
        height: 87px;
        margin: auto;
        fill: #f5f6f7;
    }
   
    footer h2 {
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        margin-top: 69px;
    }
    
    .footer_span {
        font-size: 36px;
        line-height: 36px;
        margin-top: 15px;
        text-align: center;
    }
    
    footer .shop_link_wrapper {
        width: 100%;
        margin-top: 285px;
    }
    
    footer .logo {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    
    .link_1st_line {
        font-weight: 100;
        margin-left: 30px;
    }
    
    .shop_link_logo {
        margin-left: 35px;
        width: 46px;
    }
    
    .goolge_play_logo {
        margin-left: 50px;
    }
    
    .link_1st_line {
        
    }
    
    
    footer {
        background-image: url("img/game_1280.jpg");
    }
    
}


/*****************/
/****Десктоп*****/
/*****************/


@media (min-width:961px) {
    
    .intro {
        background-image: url("img/football_1920.jpg");
    }

    
    .logo {
        width: 191px;
        padding-top: 45px;

    }   

    h1 {
        font-size: 90px;
        line-height: 90px;
        margin-top: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .header_2nd_line {
        margin-left: 452px;
        margin-top: 0;
    }
    
    .header_1_wrapper {
        display:flex;
    }
    
    .shop_link_wrapper {
        margin-top: 157px;
        padding-bottom: 110px;
        display: flex;
        justify-content: center;
    }
    
    .shop_link:nth-child(n+2) {
        margin-top: 0;
    }
    
    .shop_link {
        font-size: 14px;
        line-height: 20px;
        min-height: 77px;
        width: 311px;
        margin-left: 25px;
        margin-right: 25px;
        justify-content: flex-start;
    }

    .shop_link_logo {
        width: 40px;
    }
    
    .athlets_img_wrapper {
        justify-content: flex-end;
        width: 50%;
    }
    
    .athlet_img {
        margin-top: 27px;
        height: 900px;
    }
    
    .athlets_wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    
    .athlets_connection_wrapper h2 {
        padding-top: 103px;
    }
    
    .athlets_connection_wrapper, .athlets_collaboration_wrapper, .athlets_growth_wrapper {
        width: 100%;
        padding-left: 52%;
        padding-right: 10%;
    }
    
    h2 {
        font-size: 80px;
        line-height: 80px;
        font-weight: 700;
        margin: 0;
    }
    
    .athlets_growth_wrapper .header_number {
        padding-top: 60px;
}
    
    .header_number {
        padding-top: 60px;
    }
    
    .athlets_collaboration_wrapper .header_number, .players_growth_wrapper .header_number {
        padding-top: 61px;
}

    .header_number h3 {
        font-size: 36px;
        line-height: 36px;
    }
    
    .athlets_connection_wrapper .header_number, .players_connection_wrapper .header_number {
        margin-top: 95px;
    }
    
    .text {
        font-size: 20px;
        line-height: 25px;
    }
    
    .number {
        font-size: 18px;
    }
    
    .number::after {
        width: 20px;
        height: 5px;
    }
    
    .players_wrapper {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .players_img_wrapper {
        width: 100%;
        left: 42%;
        justify-content: flex-start;
    }
    
    .player_img {
        margin-top: 35px;
    }
    
    .players_connection_wrapper, .players_collaboration_wrapper, .players_growth_wrapper {
        width: 100%;
        padding-left: 10%;
        padding-right: 50%;
    }
    
    .players_connection_wrapper h2 {
        padding-top: 117px;
    }
    
    .players_collaboration_wrapper .text {
        padding-bottom: 98px;
    }
    .main_number_block {
        width: 8.75vw;
        height: 8.07vw;
        top: 27%;
        transform: translateX(50%);
        right: 0;
        left: auto;
    }
    
    .number {
        font-size: 1.25vw;
    }
    
    .be_active, .find_contact, .work_it {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .img_wrapper {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    
    .main_text {
        width: 50%;
        padding: 0;
        padding-left: 6.71vw;
        padding-right: 10.94vw;
        box-sizing: border-box;
    }
   
    .main_img {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    
    main, section  {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .find_contact {
        flex-direction: row-reverse;
    }
    
    .find_contact .main_number_block {
        left: 0;
        transform: translateX(-50%)
    }
    
    main h2 {
        font-size: 4.16vw;
        line-height: 4.16vw;
        padding-top: 12.5vw;
    }
    
    main .text {
        font-size: 1.25vw;
        line-height: 1.46vw;
        margin-top: 5.31vw;
        padding-bottom: 0;
    }
    
    .find_contact .main_text {
        padding-left: 10vw;
        padding-right: 6.72vw;
    }
    
    .find_contact .text {
        margin-top: 60px;
    }
    
    
    footer {
        background-image: url("img/game_1920.jpg");
    }
    
    
    .logo_background {
        width: 130px;
        height: 136px;
        border-radius: 30px;
    }
    
    .logo_footer {
        width: 105px;
        height: 87px;
        
    }
    
    .footer_logo_header {
        display: flex;
        justify-content: center;
        text-align: left;
    }
    
    .logo_background {
        margin-left: 0;
        margin-right: 0;
        margin-top: 219px;
    }
    
    .footer_header {
        margin-top: 225px;
        margin-left: 37px;
    }
    
    .footer_header h2 {
        margin: 0;
        padding: 0;
        font-size: 80px;
        line-height: 80px;
    }
    
    .footer_span {
        font-size: 30px;
    }
    
    footer .shop_link_wrapper {
        margin-top: 153px;
    }
    
    footer .logo {
        padding: 0;
        margin-top: 262px;
        margin-bottom: 52px;
    }
    
    .shop_link_logo {
        margin-left: 35px;
        width: 46px;
    }
    
    .goolge_play_logo {
        margin-left: 50px;
    }
    
    .link_1st_line {
        margin-left: 30px;
    }
    
    footer {
        background-image: url("img/game_1920.jpg");
    }




}












