body {
    margin: 0;
    font-family: Open Sans;
}

@font-face {
    font-family: Open Sans;
    src: url("Fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url("Fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url("Fonts/OpenSans-Light.woff");
    font-weight: 100;
    font-style: normal;
}

.intro {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("img/football_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #ffffff;
}

.intro::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    width: 133px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    display: block;
    fill: #ffffff;
    z-index: 1;
    position: relative;
}

h1 {
    font-size: 28px;
    line-height: 31px;
    z-index: 1;
    position: relative;
    margin-top: 136px;
    text-transform: uppercase;
    font-weight: 700;
}

.header_1dt_line {
    display: block;
}

.header_2nd_line {
    display: block;
    margin-left: 45px;
    margin-top: 29px;
}

.shop_link_wrapper {
    margin-top: 89px;
    padding-bottom: 83px;
}

.shop_link {
    background-color: #5e42b0;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    font-size: 8px;
    line-height: 9px;
    min-height: 35px;
}

.shop_link:nth-child(n+2) {
    margin-top: 14px;
}

.shop_link_logo {
    width: 22px;
    height: 24px;
    fill: #ffffff;
}

.link_1st_line {
    display: block;
    min-width: 90px;
    margin-left: 10px;
}

.link_2nd_line {
    display: block;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin: 0;
    padding-top: 25px;
}

.athlets_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.athlets_img_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.athlets_connection_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.athlet_img {
    margin-top: 80px;
    height: 281px;
}

.athlets_connection_wrapper .header_number, .players_connection_wrapper .header_number {
    margin-top: 329px;
    padding-top: 0;
}

.header_number {
    align-items: center;
    display: flex;
    padding-top: 61px;
}

.header_number h3 {
    margin: 0;
    color: #c1c1c1;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.number {
    font-weight: 700;
    font-size: 14;
}

.number::after {
    content:"";
    display: block;
    width: 15px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5e42b0;
    border-radius: 100px;
}

.text {
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    padding-bottom: 55px;
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
}

.athlets_collaboration_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f9;
}

.athlets_growth_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5e42b0;
}

.athlets_growth_wrapper .number::after, .players_growth_wrapper .number::after {
    background-color: #ffffff;
}

.athlets_growth_wrapper .text {
    color: #efeef6;
}

.players_img_wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.player_img {
    margin-top: 80px;
}

.players_connection_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.players_collaboration_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f9;
}

.players_growth_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #090c35;
}

.players_growth_wrapper .text {
    color: #ffffff;
}

.players_growth_wrapper .number {
    color: #7c5dce;
}

.main_img {
    position: relative;
    width: 100%;
}

.img_wrapper {
    position: relative;
}

.center_span {
    display: flex;
    background-color: #5e42b0;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: -12px;
}

main .number {
    color: #f5f6f7;
}

main .number::after {
    background-color: #8f7bc8;
}

main h2 {
    font-size: 28px;
    line-height: 34px;
    padding-top: 37px;
}

main .text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 78px;
}

.main_text {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-image: url("img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo_background {
    display: flex;
    width: 72px;
    height: 74px;
    z-index: 1;
    position: relative;
    background: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 99px;
    border-radius: 15px;
}

.logo_footer {
    width: 57px;
    height: 49px;
    margin: auto;
    fill: #f5f6f7;
}

footer h2 {
    margin: 0;
    margin-top: 59px;
    z-index: 1;
    display: block;
    font-size: 32px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.footer_span {
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 14px;
    color: #9b8ec1;
    margin-top: 13px;
}

footer .shop_link_wrapper {
    width: 100%;
    margin-top: 77px;
    padding-bottom: 0;
}

footer .logo {
    margin-bottom: 10px;
    margin-top: 82px;
}

/*****************/
/****Планшеты*****/
/*****************/

@media (min-width:641px) and (max-width: 960px) {
    
    .logo {
        padding-top: 39px;
        width: 204px;
        height: 56px;
    }

    h1 {
        font-size: 64px;
        line-height: 66px;
        margin-top: 180px;
    }

    .header_1dt_line {
        padding-left: 70px;
    }

    .header_2nd_line {
        margin-top: 32px;
        margin-left: 107px;
    }

    .shop_link_wrapper {
        margin-top: 313px;
        padding-bottom: 90px;
        display: flex;
        justify-content: space-around;
    }
    
    .shop_link:nth-child(n+2) {
        margin-top: 0;
    }
    
    .shop_link {
        border-radius: 30px;
        align-items: center;
        z-index: 1;
        position: relative;
        font-size: 14px;
        line-height: 15px;
        min-height: 77px;
        width: 40%;
    }

    .shop_link_logo {
        width: 41px;
        height: 43px;
        
    }
    
    .athlets_img_wrapper {
        justify-content: flex-start;
    }
    
    .athlet_img {
        margin-top: 96px;
        display: block;
        height: 698px;
        margin-left: -171px;
    }
    
    .athlets_wrapper h2, .players_wrapper h2 {
        margin-top: 86px;
        padding-top: 0;
    }
    
    .athlets_connection_wrapper, .athlets_collaboration_wrapper, .athlets_growth_wrapper  {
        width: 100%;
        padding-left: 293px;
    }
    
    .athlets_connection_wrapper .header_number, .players_connection_wrapper .header_number {
        margin-top: 61px;
    }   

    .text {
        font-size: 16px;
        line-height: 28px;
        text-align: left;
        padding: 0;
        padding-bottom: 37px;
        margin: 0;
        margin-top: 30px;
    }   
    
    .athlets_collaboration_wrapper .header_number, .athlets_growth_wrapper .header_number {
        padding-top: 41px;
    }
    
    .players_wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .players_img_wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: flex-end;
    }

    .player_img {
        margin-top: 40px;
    }
    
    .players_growth_wrapper {
        width: 100%;
    }
    
    .players_connection_wrapper, .players_collaboration_wrapper, .players_growth_wrapper  {
        padding-right: 355px;
    }
    
    .players_wrapper .text {
        padding-bottom: 37px;
        margin-top: 32px;
    }
    
    .players_collaboration_wrapper .header_number, .players_growth_wrapper .header_number {
        padding-top: 41px;
    }
    
    .center_span {
        display: flex;
        background-color: #5e42b0;
        width: 115px;
        height: 115px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 32px;
        bottom: -35px;
    }
    
    .number {
    font-size: 18px;
    }
    
    .main_text {
        margin-top: 90px;
    }
    
    .find_contact .main_text, .work_it .main_text  {
        margin-top: 81px;
    }
    
    .be_active h2, .find_contact h2, .work_it h2 {
        padding-top: 0;
    }
    
    main h2 {
        font-size: 80px;
        line-height: 80px;
    }
    
    main .text {
        font-size: 24px;
        line-height: 28px;
        margin-top: 37px;
        padding-bottom: 105px;
    }
    
    .logo_background {
        display: flex;
        width: 130px;
        height: 136px;
        z-index: 1;
        position: relative;
        background: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
        margin-left: auto;
        margin-right: auto;
        margin-top: 99px;
        border-radius: 15px;
    }

    .logo_footer {
        width: 104px;
        height: 87px;
        margin: auto;
        fill: #f5f6f7;
    }
   
    footer h2 {
        font-size: 80px;
        line-height: 80px;
        text-align: center;
    }
    
    .footer_span {
        font-size: 36px;
        line-height: 36px;
        margin-top: 29px;
        text-align: center;
    }
    
    footer .logo {
        margin-bottom: 10px;
        margin-top: 23px;
    }
    
    .link_1st_line {
        font-weight: 100;
    }
    
    footer {
    background-image: url("img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

    
}



